page-home {
  #common-space{
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
  }
  #my-space{
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
  }
  #lab{
    background-color: #FFCC00;
  }
  #common-space{
    background-color: #FFFFCC;
  }
}
