<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-home">
  <h3>Synthesis Game</h3>

  <ion-grid>
    <ion-row>
      <ion-col col-2>
        Whose Turn: {{this.gameProvider.whoseTurn.name}}
      </ion-col>
      <ion-col col-2>
        State: {{this.gameProvider.state}}
      </ion-col>
      <ion-col col-2>
        Total Points: {{this.gameProvider.human.totalPoints}}
      </ion-col>
      <ion-col col-2>
        Points to Spend This Round: {{this.gameProvider.human.spendingPoints}}
      </ion-col>
      <ion-col col-2>
        Computer's total points: {{this.gameProvider.computer.totalPoints}} 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 id=comp-space>
        <ion-row>
          <ion-col col-8 id=comp-lab >
            <ion-row>
              <ion-col col-2 *ngFor="let c of compLab; let i = index">
                <card  [card]="c"></card>
              </ion-col>
              <ion-col col-2>
                <button ion-button>Submit Reaction</button>
              </ion-col>
            </ion-row>

          </ion-col>
          <ion-col col-2>
            deck
            <div class=card-img>
              <img src= 'assets/img/cards/large/card_back.png'>
            </div>
          </ion-col>
          <ion-col col-2 >
            recycle
            <card  [card]="this.gameProvider.computer.recycle[0]"></card>
          </ion-col>
        </ion-row>
        <ion-row>

          <ion-col col-8 id=hand>
            <ion-row>
              <ion-col col-2 *ngFor="let c of compHand; let i = index">
                <card  [card]="c"></card>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 id=common-space>
        <ion-row>
          <ion-col col-8 id=benchtop>
            <ion-row>
              <ion-col col-2 *ngFor="let c of this.gameProvider.benchtop; let i = index">
                <card  [card]="c" (click)='this.buyCard(i)'></card>
              </ion-col>
              <ion-col col-2>
                <button ion-button (click)="endTurn()">End Turn</button>
              </ion-col>
              <!-- <ion-col col-2 *ngFor="let num of [1, 2, 3, 4, 5]"> -->
                <!-- <card (click)="presentCardPopover($event)"></card> -->
              <!-- </ion-col> -->
            </ion-row>
          </ion-col>
          <ion-col col-2 id=stockroom>
            stockroom
          </ion-col>
          <ion-col col-2 id=chemical-waste>
            chemical waste
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 id=my-space>
        <ion-row>
          <ion-col col-8 id=lab >
            <ion-row>
              <ion-col col-2 *ngFor="let c of myLab; let i = index">
                <card  [card]="c" (click)='this.gameProvider.humanUnplayCard(i)'></card>
              </ion-col>
              <ion-col col-2>
                <button ion-button (click)="submitReaction()">Submit Reaction</button>
              </ion-col>
            </ion-row>

          </ion-col>
          <ion-col col-2>
            deck
            <div class=card-img>
              <img src= 'assets/img/cards/large/card_back.png'>
            </div>
          </ion-col>
          <ion-col col-2 >
            recycle
            <card  [card]="this.gameProvider.human.recycle[0]"></card>
          </ion-col>
        </ion-row>
        <ion-row>

          <ion-col col-8 id=hand>
            <ion-row>
              <ion-col col-2 *ngFor="let c of myHand; let i = index">
                <card  [card]="c" (click)='this.gameProvider.humanPlayCard(i)'></card>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>  

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
