<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-home">
  <h3>Synthesis Game</h3>

  <ion-grid>
    <ion-row>
      <ion-col col-12 id=common-space>
        <ion-row>
          <ion-col col-8 id=benchtop>
            <ion-row>
              <ion-col col-2 *ngFor="let num of [1, 2, 3, 4, 5]">
                <!-- <card (click)="presentCardPopover($event)"></card> -->
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-2 id=stockroom>
            stockroom
          </ion-col>
          <ion-col col-2 id=chemical-waste>
            chemical waste
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 id=my-space>
        <ion-row>
          <ion-col col-8 id=lab >
            <ion-row>
              <ion-col col-2 *ngFor="let c of myLab">
                <card  [card]="c"></card>
              </ion-col>
              <ion-col col-2>
                <div class=card-img>
                  <img src="assets/img/cards/large/placeholder.png">
                </div>
              </ion-col> 
            </ion-row>

          </ion-col>
          <ion-col col-2>
            deck
          </ion-col>
          <ion-col col-2>
            recycle
          </ion-col>
        </ion-row>
        <ion-row>

          <ion-col col-8 id=hand>
            <ion-row>
              <ion-col col-2 *ngFor="let c of myHand">
                <card  [card]="c"></card>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>  

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
